@using EskiDefterler.Core.Entities.Concrete
@model List<Product>

<div class="row product-list">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <section class="panel">

                <div class="pro-img-box">
                    <img src="@Url.Content(product.PhotoUrl)"/>
                    <a href="#" class="adtocart">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="panel-body text-center">
                    <h4>
                        <a href="#" class="pro-title">
                            @product.Title
                        </a>
                    </h4>
                    <p class="price">@product.Price</p>
                </div>
            </section>
        </div>
    }
</div> 
