﻿@using EskiDefterler.Core.Entities.Concrete
@using EskiDefterler.MVC.Models.ViewModels.Account
@model LoginVM


<!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>

	<div id="header-wrap">
		<div class="top-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul>
								<li>
									<a href="https://www.linkedin.com/in/sevval-ozdemir/"><i class="fa-brands fa-linkedin"></i></a>
								</li>
								<li>
									<a href="https://github.com/ozdemirsevval"><i class="fa-brands fa-github"></i></a>
								</li>
								<li>
									<a href="https://www.youtube.com/watch?v=jeh3M56CGCM"><i class="icon icon-youtube-play"></i></a>
								</li>
								<li>
									<a href="https://open.spotify.com/"><i class="fa-brands fa-spotify"></i></a>
								</li>
								<li>
									@await Component.InvokeAsync("UserName")
								</li>
							</ul>
						</div><!--social-links-->
					</div>
					<div class="col-md-6">
						<div class="right-element">
							<div class="action-menu">
								<div class="search-bar">
									<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
											<i class="icon icon-search"></i>
									</a>
									<form role="search" method="get" class="search-box">
											<input class="search-field text search-input" placeholder="Search"
												   type="search">
									</form>
								</div>
							</div>

						</div><!--top-right-->
					</div>

				</div>
			</div>
		</div><!--top-content-->
		<header id="header">
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a href="index.html"><img src="~/BookTemp/images/myLogo21.png" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav">
								<ul class="menu-list">
									<li class="menu-item active"><a asp-action="Index">Home</a></li>

									<li class="menu-item has-sub">
										<a href="#" class="nav-link">Pages</a>
										<ul>
											<li><a class="dropdown-item" asp-action="Index">Home</a></li>
											<li><a class="dropdown-item" asp-controller="Pages" asp-action="About">About</a></li>
											<li><a class="dropdown-item" asp-controller="Pages" asp-action="Blog">Blog</a></li>
											<li><a class="dropdown-item" asp-controller="Pages" asp-action="Contact">Contact</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="#featured-books" class="nav-link">Featured</a></li>
									<li class="menu-item"><a href="#popular-books" class="nav-link">Collection</a></li>
									<li class="menu-item"><a href="#special-offer" class="nav-link">Offer</a></li>
									<li class="menu-item"><a href="#latest-blog" class="nav-link">Articles</a></li>

									@if (User.Identity.IsAuthenticated)
									{
										<li class="menu-item"><a class="nav-link" asp-controller="Card" asp-action="CardInside"><i class="fa-solid fa-cart-shopping"></i></a></li>	
										<li class="menu-item"><a class="nav-link" asp-controller="Order" asp-action="OrderDetails"><i class="bi bi-person-circle"></i>Orders</a></li>
										<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-regular fa-user"></i> Sign Out</a>
									}
									else
									{
										<li class="menu-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-regular fa-user"></i> Sign In</a><i class="bi bi-person-circle"></i></li>
									}
									@if (User.IsInRole("Admin"))
									{
										<div><a class="button" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="bi bi-pc-display-horizontal"></i></a></div>
									}

								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>

							</div>
						</nav>

					</div>

				</div>

			
			</div>
		</header>
	</div><!--header-wrap-->
    </body>
    </html>
